<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="KIKIKOOKOO">
  <meta name="Nibin" content="SitePoint">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title></title>KIKIKOOKOO</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>
<body>
  <div class="container">
  {% block content %}
  {% endblock %}
  </div>
</body>
</html>